#loader {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* responsive */
@media screen and (max-width:678px) {
    #loader main:nth-child(2) progress {
        width: 300px;
    }
}