#mobile {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#mobile header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

#mobile header main:nth-child(2) {
    display: flex;
    align-items: center;
}

#mobile header main:nth-child(2) div i {
    margin: 0 0.7rem;
}

#mobile_section div {
    padding: 1rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#mobile_section div p {
    padding: 0 2rem;
}

.for_show_which_part {
    color: forestgreen;
    border-bottom: 1px solid forestgreen;
}

#mobile_chats:last-child {
    padding: 0 0 3rem 0;
}

#mobile_chats:hover {
    cursor: pointer;
    background-color: #3c4247;
}

#mobile_chats i {
    opacity: 0;
    transition: all 0.3s ease-in;
}

#mobile_chats:hover i {
    opacity: 1;
}

#mobile_chats a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #3c4247;
    padding: 1rem 0.5rem;
}

#mobile_chats a div:nth-child(1) {
    display: flex;
    align-items: center;
}

#mobile_chats a div:nth-child(1) img {
    margin: 0 0.5rem 0 0;
}


#mobile_chat_aside {
    width: 100% !important;
}


#mobile_status main:nth-child(1){
    margin: 1rem 0.5rem;
    display: flex;
    align-items: center;
}

#mobile_status main:nth-child(2){
    margin: 1rem 0.5rem;
}

#mobile_status main:nth-child(2) .user_status{
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
}

#mobile_status main:nth-child(2) .user_status img {
    border: 2px solid forestgreen;
}

#mobile_calls main:nth-child(1){
    margin: 1rem 0.5rem;
    display: flex;
    align-items: center;
}

#mobile_calls main:nth-child(1) .link-shape{
    padding: 1rem;
    background-color: forestgreen;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mobile_calls main:nth-child(2){
    margin: 1rem 0.5rem;
}

#mobile_calls main:nth-child(2) .user_calls {
    margin: 0.7rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#mobile_calls main:nth-child(2) .user_calls div:nth-child(1){
    display: flex;
    align-items: center;
}
